body {
  padding-top: 50px;
}
td {
  padding: 5px 1em;
  word-wrap: break-word;
}
td.key {
  text-align: right;
}
td.key em {
  display: block;
  font-weight: normal;
}
table.edit-true {
  background-color: #ffe;
}

#add-key-button {
  padding-top: 10px;
}
#del-button {
  margin-left: 1em;
}
body h2 small {
  font-size: 12px;
}

.btn-txt {
  background-color: transparent;
  border: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}