---
- name: Set up VM for wetcd
  hosts: vagrant

- include: "~/Projects/ansible/etcd.yml"
  vars:
    ip: 192.168.10.10

- include: "~/Projects/ansible/nginx.yml"
  vars:
    app: wetcd

- include: "etcd-nginx.yml"
  vars:
    app: wetcd
    ip: 192.168.10.10
